@import "tailwindcss";

.centered-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 560px;
  min-width: 320px;
  padding: 0px 16px;
  @apply relative min-h-screen;
}

.flex-center {
  @apply flex items-center justify-center;
}
